@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .primary-gradient {
    background: linear-gradient(
      220.6deg,
      #eab9b0b3 -0.51%,
      rgba(251, 106, 103, 0.345) 130.26%
    );
  }
}
body {
  font-family: "Poppins", sans-serif;
  background: #fcffe7;
}
html {
  scroll-behavior: smooth;
}

.link::after {
  content: "";
  position: absolute;
  width: 0;
  margin: auto;
  height: 2px;
  border-radius: 1px;
  background: #ff3c38;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 1s;
}
.nav {
  backdrop-filter: blur(15px) !important;
}
.link:hover::after {
  width: 100%;
}
.link:hover {
  opacity: 0.5;
}
.cart-item-qty {
  position: absolute;
  font-size: 12px;
  color: #eee;
  background-color: #e84727;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  top: -8px;
  right: -5px;
}
.hero-bg {
  /* background-image: url("https://images.unsplash.com/photo-1674235435736-95a8ac215e31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"); */
  background-image: url("/bmw.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
}

.desktop {
  grid-template-areas:
    "explore category category category category"
    "explore products products products products"
    "explore products products products products"
    "explore products products products products"
    "explore products products products products"
    "explore products products products products";
  grid-template-columns: 1fr 4fr;
}
.products {
  grid-area: products;
}
.explore {
  grid-area: explore;
}
.category {
  grid-area: category;
}
.maylike-products-wrapper {
  margin-top: 120px;
}
.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #324d67;

  font-size: 28px;
}
.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}
.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.track {
  animation: marquee 10s linear infinite;
  width: 550%;
}
.success,
.cancel {
  width: 370px;
  margin-top: 100px;
  padding: 20px;
}
.success-wrapper,
.cancel-wrapper {
  min-height: 69vh;
}

.success {
  height: 350px;
}
.success h2 {
  font-size: 17px;
}
@media screen and (min-width: 642px) {
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    width: 180%;
  }
  .success-wrapper,
  .cancel-wrapper {
    background-color: white;
    min-height: 60vh;
  }
}
.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  color: green;
  font-size: 40px;
}
.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}
.email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.cancel p {
  font-size: 20px;
  font-weight: 600;
}
.description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.description .email {
  margin-left: 5px;
  color: #f02d34;
}
.form-input {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  background-color: white;
  border: 2px solid #372f4b;
  width: 100%;
  border-radius: 17px;
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 500;
  outline: none;
  transition: 0.3s;
}
.form-input:hover {
  filter: brightness(97%);
}
.form-input:focus,
.form-input:valid {
  filter: brightness(100%);
  border-color: hsl(257, 100%, 60%);
}
.form-input {
  margin-bottom: 1.5rem;
}
.contact-form {
  border-radius: 20px;
  margin-top: 1rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
}
